*,
*::before
*::after{
box-sizing: border-box;

}
body{
    background: rgb(44, 179, 116);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    line-height: 1.5px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wrapper{
    background: white;
    width: 90%;
    padding: 2rem;
}
h1 {
    background: coral;
    color: white;
    letter-spacing: 0.1rem;
    padding: 1rem;
}